* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 50rem;
  width: 50rem;
  background-color: rgba(36, 35, 35, 0.952);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 20rem;
  border-radius: 50%;
  overflow: hidden;
  animation: disappear 5s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.upper {
  height: 14rem;
  background-color: skyblue;
  position: relative;
}

.sun {
  background-color: yellow;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  position: absolute;
  left: 40%;
  bottom: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: rotation 5s ease-in infinite;
}

.pyramid::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: rgb(230, 227, 230);
  clip-path: polygon(100% 30%, 0% 100%, 100% 100%);
  animation: pyramidLeftShadow 5s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

.pyramid {
  position: relative;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  height: 7rem;
  width: 10rem;
}

.pyramid::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(179, 177, 179);
  clip-path: polygon(48% 30%, 50% 100%, 100% 100%);
  animation: pyramidRightShadow 5s cubic-bezier(0.4, 0.3, 0.49, 1) infinite;
}

.lower {
  height: 6rem;
  background-color: rgb(247, 227, 119);
  position: relative;
  z-index: 2;
}

.shadow {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  height: 2rem;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  animation: shadow 5s cubic-bezier(0.4, 0, 0.49, 1) infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0) translateX(-10rem) rotate(0);
  }
  to {
    transform: rotate(360deg) translateX(-10rem) rotate(-360deg);
  }
}

@keyframes disappear {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pyramidLeftShadow {
  0% {
    background-color: rgb(230, 227, 230);
  }
  50% {
    background-color: rgb(230, 227, 230);
  }
  100% {
    background-color: rgb(179, 177, 179);
  }
}

@keyframes pyramidRightShadow {
  0% {
    background-color: rgb(179, 177, 179);
  }
  50% {
    background-color: rgb(230, 227, 230);
  }
  100% {
    background-color: rgb(230, 227, 230);
  }
}

@keyframes shadow {
  0% {
    clip-path: polygon(94% 100%, 0 0, 100% 0);
  }
  /*50% {
      clip-path: polygon(37% 60%, 0 0, 100% 0);
    }*/
  100% {
    clip-path: polygon(5% 10%, 0 0, 100% 0);
  }
}
